<div class="container">
  <div class="row justify-content-around">
    <% @languages.each do |language| %>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img  id='img-lan' src="<%=language.imgurl%>" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title"><%=language.name%></h5>
            <p class="card-text"><%=language.description.truncate(100) if language.description%></p>
            <%= button_to  language_votes_path(language), method: :post do %>
            <%= language.votes.count %>
            <% end %>
            <!-- <a href="#" class="btn btn-primary">Votar</a> -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
