<div class="container">
  <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="https://blobscdn.gitbook.com/v0/b/gitbook-28427.appspot.com/o/spaces%2F-LAPclV5HDjIUjUff5hv%2Favatar.png?generation=1524086551201990&alt=media" width="40" height="40" alt="">
        </a>

        <a class="navbar-brand" href="#">List Music</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <div class="col align-self-end">
              <li class="nav-item">
                <% if user_signed_in? %>
                <%= link_to "Salir", destroy_user_session_path, :method => :delete, class:"btn btn-danger"%>
                <% else %>
                <%= link_to "Ingresar", new_user_session_path, :method => :get, class:"btn btn-primary"%>
                <% end %>
              </li>
            </div>
          </ul>
        </div>
</nav>
  <div class="row justify-content-around">
    <% @languages.each do |language| %>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img  id='img-lan' src="<%=language.imgurl%>" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title"><%=language.name%></h5>
          <p class="card-text"><%=language.description.truncate(100) if language.description%></p>
          <a href="#" class="btn btn-primary">Votar</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
